form(action="/contacto", method="POST")
  label(for="name") Nombre:
  input(type="text", id="name", name="name")
  label(for="email") Email:
  input(type="email", id="email", name="email")
  input(type="text", id="description", name="description")
  button(type="submit") Enviar