* {
    margin: 0;
    padding: 0;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

footer p{
    color: var(--color-text);
}

footer a{
    color: var(--color-text);
    font-size: 20px;
}

