* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

footer p {
    color: var(--color-text);
}

footer a {
    color: var(--color-text);
    font-size: 30px;
    transition: 500ms;
}

footer a:hover{
    font-size: 50px;
}

@keyframes heart-beat {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }