* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-text: #9ba2ae;
}

.hero {
  color: var(--color-text);
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nombre {
  font-size: 60px;
  animation: color-change 3s infinite;
  font-weight: 800;
}

.contenido {
  font-weight: 800;
  letter-spacing: 1px;
}

.mi {
  color: var(--color-text);
  font-size: 20px;
  text-align: center;
  width: 100%;
  padding: 50px 0px;
}

.skill {
  padding: 200px;
}

.title-skill {
  text-align: center;
  color: var(--color-text);
}

.card-skill ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-skill li {
  background-color: rgb(65, 65, 65);
  color: var(--color-text);
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 120px;
  border-radius: 5px;
  margin: 50px 20px 50px 0px;
  transition: 500ms;
}

.card-skill i {
  padding-top: 30px;
  font-size: 50px;
}

.card-skill li:hover {
  background-color: #0a2450;
  transform: scale(1.5);
}



@keyframes color-change {
    0% { color: #ff3366; }
    50% { color: #7a35e9; }
    100% { color: #ff3366; }
}