/* Estilos globales */

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --color-text: #DDE6ED;
  --color-card: rgb(65, 65, 65);
}

/* Estilos de la página de inicio */

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-text);
}

.intro {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
}

strong {
  color: rgb(18, 62, 184);
}

.intro span {
  font-style: italic;
}

.hero {
  font-size: 2.4em;
}

.image svg {
  width: 120px;
  transform: rotate(-10deg);
}

/* Media queries */

@media (max-width: 400px) {
  .hero p, .hero span {
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  main.container {
    padding: 80px 0px 100px 0px;
  }

  section.intro.my-4.container-fluid {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }

  .hero {
    font-size: 30px;
  }

  .image {
    padding-top: 20px;
    text-align: center;
  }

  .mi h2 {
    font-size: 30px;
    padding-bottom: 20px;
  }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .intro {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .container {
    padding-bottom: 40px;
  }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}