@import url(https://fonts.googleapis.com/css2?family=Lato&display=swap);.menu a,.name{transition:.6s}.menu a,footer a,footer p{color:var(--color-text)}*{margin:0;padding:0;box-sizing:border-box;font-family:Lato,sans-serif}:root{--color-text:#DDE6ED;--color-card:rgb(65, 65, 65)}.fondo{background-color:#040303}.navbar,.offcanvas-body,.offcanvas-header,nav{background-color:#131212}.menu{display:flex;flex-direction:row;align-items:center;justify-content:space-around}.group,footer{flex-direction:row;display:flex}.menu a{font-family:Poppins,sans-serif;font-weight:700}.name{font-size:25px;animation:2.5s infinite color-change}.name:hover{font-size:30px}.item{padding-right:20px}.menu a:hover{color:#fff8f8}footer{justify-content:space-around;align-items:center;padding-top:40px}footer li,footer ul{display:flex;flex-direction:row;list-style:none}footer a{padding-left:10px}@media (max-width:768px){footer p{font-size:12px}}@keyframes heart-beat{0%,100%{transform:scale(1)}50%{transform:scale(1.2)}}

/*@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

:root {
  --color-text: #DDE6ED;
  --color-card: rgb(65, 65, 65);
}

.fondo {
  background-color: #040303;
}

/* ESTILOS MENU 

.navbar,
.offcanvas-header,
.offcanvas-body,
nav {
  background-color: #131212;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.menu a {
  color: var(--color-text);
  font-family: 'Poppins', sans-serif;
  transition: all 0.6s;
  font-weight: bold;
}

.name {
  font-size: 25px;
  animation: color-change 2.5s infinite;
  transition: all 0.6s;
}

.name:hover {
  font-size: 30px;
}

.group {
  display: flex;
  flex-direction: row;
}

.item {
  padding-right: 20px;
}

.menu a:hover {
  color: #fff8f8;
}

/* Estilos del pie de página 

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 40px;
}

footer p {
  color: var(--color-text);
}

footer ul,
footer li {
  display: flex;
  flex-direction: row;
  list-style: none;
}

footer a {
  color: var(--color-text);
  padding-left: 10px;
}

/* Media queries 

@media (max-width: 768px) {
  footer p {
    font-size: 12px;
  }
}

/* Keyframes 

@keyframes heart-beat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

