head
    link(rel="stylesheet", href="css/footer.css")

body
    footer
        p &copy; 2023 XxLiosxX. Todos los derechos reservados.
        a(href="https://github.com/XxLiosxX" target='_blank')
            i(class="fab fa-github") 


