head 
    link(rel="stylesheet", href="css/navbar.css")
body 
    header 
        nav 
            ul(class="menu")
                a(class='name' href="#") XxLiosxX
                div(class='group')
                    li 
                        a(class="item" href="#a") Sobre mi
                    li 
                        a(class="item" href="#e") Habilidades
                    li 
                        a(class="item" href="#i") Proyectos
                    li 
                        a(class="item" href="#") Blog

            
    
